<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Customer | View Profile</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"
    ></script>

    <!-- Include Bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <!-- Optional theme -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script src="https://js.stripe.com/v3/"></script>

    <style>
      /* Modal */
      .modal {
        display: flex;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);

        justify-content: center;
        align-items: center;
      }

      .modal-dialog {
        width: 100%;
        max-width: 700px;
      }

      .modal-content {
        padding: 20px;
      }

      .sign-out-button {
        color: #141b4d; /* Text color */
        border: 3px solid #141b4d; /* Add border here */
        padding: 5px 20px;
        margin-left: 20px; /* Spacing from the navbar links */
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s, border-color 0.3s;
      }

      .sign-out-button:hover {
        color: #141b4d;
        border: 3px solid #141b4d;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div class="full-screen-container">
        <navbar-component active-link="viewProfile"></navbar-component>

        <div class="container pt-5">
          <h2 class="text-center mb-4">My Profile</h2>

          <div class="container col-12 bg-white pb-5">
            <div class="row mb-2 pt-4">
              <div class="col-12 col-sm-3">
                <strong>Username: </strong>
              </div>
              <div class="col-12 col-sm-9"><p th:text="${username}"></p></div>
            </div>
            <div class="row mb-2">
              <div class="col-12 col-sm-3">
                <strong>Name: </strong>
              </div>
              <div class="col-12 col-sm-9"><p th:text="${name}"></p></div>
            </div>
            <div class="row mb-2">
              <div class="col-12 col-sm-3">
                <strong>Account Balance: </strong>
              </div>
              <div class="col-12 col-sm-9">
                $
                <span th:text="${balance}"></span>
                SGD
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-12 col-sm-9">
                <button
                  @click="openTopUpModal()"
                  class="btn btn-primary btn-block shadow-sm w-50 submitbtn"
                >
                  Top Up
                </button>
              </div>
            </div>

            <div class="pt-5 pb-3 row justify-content-center">
              <div class="col-auto">
                <h5 class="text-decoration-underline">Transaction History</h5>
              </div>
            </div>

            <div class="table-responsive border border-solid mb-5">
              <table class="table table-hover">
                <thead>
                  <tr class="text-center">
                    <th></th>
                    <th>Event Name/DateTime</th>
                    <th>Transaction Date/Time</th>
                    <th>Amount</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    class="text-center"
                    v-for="(transaction, index) in user.transactions"
                    :key="index"
                  >
                    <td>{{index + 1}}</td>
                    <td>
                      {{ transaction.eventName }} <br />
                      {{ transaction.eventStartDate }} | {{
                      transaction.eventStartTime }}
                    </td>
                    <td>{{ formatDate(transaction.purchasedDateTime) }}</td>
                    <td>
                      {{ transaction.total }} SGD
                      <br v-if="transaction.status === 'Cancelled'" /><span
                        v-if="transaction.status === 'Cancelled'"
                        >Cancellation Cost:
                        <span class="text-danger"
                          >{{
                          (transaction.cancellationFee*transaction.numberOfTickets)
                          }}</span
                        ></span
                      >
                    </td>
                    <td
                      :class="{ 'border border-primary bg-primary text-light': transaction.status === 'Booked', 'border border-warning bg-warning text-dark': transaction.status === 'Cancelled' }"
                    >
                      {{ transaction.status }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div
          class="modal"
          tabindex="-1"
          role="dialog"
          v-if="showTopUpModal"
          v-cloak
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Top Up</h5>
                <button
                  type="button"
                  class="btn-close"
                  @click="closeTopUpModal()"
                ></button>
              </div>
              <div class="modal-body">
                <div class="d-flex justify-content-center">
                  <div
                    v-if="isLoadingPayments"
                    class="spinner-border text-primary"
                    role="status"
                  >
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
                <form id="payment-form" @submit.prevent="handleSubmit">
                  <div id="link-authentication-element"></div>
                  <div id="payment-element"></div>
                  <br />
                  <span v-if="errorMessage" class="text-danger"
                    >{{errorMessage}}</span
                  >
                  <br />
                  <button
                    v-if="clientSecret && !isLoadingPayments"
                    id="submit"
                    type="submit"
                    class="btn btn-primary w-100"
                  >
                    Top Up
                  </button>
                </form>
                <div
                  v-if="!clientSecret && !isLoadingPayments"
                  class="form-group mb-2"
                >
                  <label>Top Up Value</label>
                  <input
                    v-model="topUpValue"
                    type="number"
                    min="20"
                    placeholder="Top Up Value"
                    class="form-control border-0 shadow-sm px-4 field"
                  />
                  <span v-if="topUpValue < 20" class="text-danger"
                    >Minimum Top Up Value is $20</span
                  >
                </div>
              </div>
              <div
                v-if="!clientSecret && !isLoadingPayments"
                class="modal-footer"
              >
                <button
                  type="button"
                  class="btn btn-secondary"
                  @click="closeTopUpModal()"
                >
                  Cancel
                </button>
                <span v-if="topUpValue >= 20">
                  <button
                    v-if="topUpValue >= 20"
                    type="button"
                    class="btn btn-primary"
                    @click="confirmTopUp"
                  >
                    Top Up
                  </button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- include axios.js -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- include Vue.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.4.21/vue.global.min.js"></script>

    <script type="module">
      import NavBarComponent from "/js/navbar/CustomerNavBarComponent.js";
      let elements;
      const stripe = Stripe(
        "pk_test_51OyoY0Il7ocdHMiCSt7SZjASaFuqKDE2xVvnra4nZAfC3tuwOGiy2GEhAPLFqCBH5vU6UfJpSuKj85hCRcmsX5vl00w6CmTWZC"
      );
      const app = Vue.createApp({
        data() {
          return {
            showTopUpModal: false,
            user: {
              transactions: [],
            },
            topUpValue: 20,
            clientSecret: "",
            isLoadingPayments: false,
            errorMessage: "",
          };
        },
        mounted() {
          this.fetchBookings();
        },
        methods: {
          handleSubmit() {
            this.errorMessage = "";
            if (this.isLoadingPayments) {
              return;
            }

            this.isLoadingPayments = true;

            stripe
              .confirmPayment({
                elements,
                confirmParams: {
                  return_url: `${window.location.origin}/Customer/ViewProfile`,
                },
                redirect: "if_required",
              })
              .then((res) => {
                console.log(res);
                this.isLoadingPayments = false;
                if (res.hasOwnProperty("error")) {
                  const error = res.error;
                  if (
                    error.type === "card_error" ||
                    error.type === "validation_error"
                  ) {
                    this.errorMessage = error.message;
                  } else {
                    this.errorMessage = "An unexpected error occured.";
                  }
                } else {
                  this.isLoadingPayments = true;
                  console.log;
                  fetch("/api/Customer/confirmTopUp", {
                    method: "POST",
                    headers: {
                      "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                      paymentIntent: res.paymentIntent.id,
                    }),
                  })
                    .then((response) => {
                      Toastify({
                        text: "Top Up Successfully ",
                        duration: 1000,
                      }).showToast();
                      this.isLoadingPayments = false;
                      this.closeTopUpModal();
                      window.location.reload();
                    })

                    .catch((error) => {
                      Toastify({
                        text: "Failed to Top Up",
                        duration: 1000,
                      }).showToast();
                      this.isLoadingPayments = false;
                      this.closeTopUpModal();
                    });
                }
              })
              .catch((error) => {
                console.log(error);
                this.isLoadingPayments = false;
                if (
                  error.type === "card_error" ||
                  error.type === "validation_error"
                ) {
                  this.errorMessage = error.message;
                } else {
                  this.errorMessage = "An unexpected error occured.";
                }
                this.isLoadingPayments = false;
              });
          },
          confirmTopUp() {
            let temp = {
              topUpValue: this.topUpValue,
            };
            this.isLoadingPayments = true;
            fetch("/api/Customer/topup", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify(temp),
            })
              .then((response) => response.json())
              .then((res) => {
                this.clientSecret = res.clientSecret;

                elements = stripe.elements({
                  clientSecret: this.clientSecret,
                });
                const paymentElement = elements.create("payment");
                paymentElement.mount("#payment-element");
                const linkAuthenticationElement =
                  elements.create("linkAuthentication");
                linkAuthenticationElement.mount("#link-authentication-element");
                this.isLoadingPayments = false;
              })

              .catch((error) => {
                // Failed to update show error
                console.log(error);
              });
          },
          openTopUpModal() {
            this.showTopUpModal = true;
            this.topUpValue = 20;
          },
          closeTopUpModal() {
            this.clientSecret = "";
            this.errorMessage = "";
            this.showTopUpModal = false;
          },
          fetchBookings() {
            fetch("/api/Customer/transactions")
              .then((response) => response.json())
              .then((data) => {
                this.user.transactions = data;
              })
              .catch((error) => {
                console.error("Error fetching transactions:", error);
              });
          },
          formatDate(timestamp) {
            // Convert timestamp to Date object
            const date = new Date(timestamp);

            // Get individual date components
            const year = date.getFullYear();
            const month = ("0" + (date.getMonth() + 1)).slice(-2); // Months are zero-based
            const day = ("0" + date.getDate()).slice(-2);
            const hours = ("0" + date.getHours()).slice(-2);
            const minutes = ("0" + date.getMinutes()).slice(-2);
            const seconds = ("0" + date.getSeconds()).slice(-2);

            // Construct date string in desired format
            const dateString = `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;

            return dateString;
          },
        },
      });

      app.component("navbar-component", NavBarComponent);
      app.mount("#app");
    </script>
  </body>
</html>
